<div id="ajax-search-box" >
	<div>
		<input id="ajax-search-input" type="text" name="searchkey" placeholder="Search">
	   <div id="ajax-search-loader"></div>
	   <div id="avaiable-pages">
	   		
	   </div>
	</div>
</div>